@page "/"

<PageTitle>Home</PageTitle>

<h2>Home</h2>

<InputForm></InputForm>
<br>
<br>

@* <RadzenButton Click="TerminateProcess" ButtonStyle="ButtonStyle.Warning">Terminate</RadzenButton> *@
@* *@
@* <br> *@
@* <br> *@


<ProcessRoadmap></ProcessRoadmap>
<br>
<br>

<New_APIs></New_APIs>

@code
{
//     public async Task TerminateProcess()
//     {
// //Terminate AI Process
// //Reselt all UI Elements 
//     }
}

